body{
    background-color: #2892c4;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 248px;
    background-color: #eca50b;
    position:absolute;
    display: flex;
    flex-direction: row;
}
li a{
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    border: #e29e0bea solid 2.5px;
}
li a:hover{
    background-color:  #ec8a0b;
    color: white;
    border: #e29e0bea solid 2.5px;
}
div.lista{
    position: fixed;
    right: 255px;
    top: 5px;
}
div.lista:hover{
    display: block;
}
li.list:hover div.lista{
    display: block;
}
a:link,a:visited {
    color:  #b86a05;
}
a:hover,a:active {
    color: darkred;
}
p.cookies{
    width: fit-content;
    height: fit-content;
    font-size: 1200%;
    top: 2px;
}